.crossword-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100vw;
	height : 45vh;
}

table {
	width: 50%;
	border-collapse: collapse;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.table-row {
	width : 50%;
	display: flex;
	justify-content: space-evenly;
}
td {
	border: 1px solid black;
	/* padding: 10px 20px; */
	padding: 5px 10px;
}
