.body-container {
	height: 20vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.body-first-row {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	width: 100%;
}

.body-input {
	padding: 5px;
	border: 1px solid black;
}

.body-input:focus {
	outline: none;
	border: 1px solid #ff7700;
}

.body-btn {
	cursor: pointer;
	margin-left: 5px;
	padding: 5px;
}

.body-btn:hover {
	border-radius: 2px;
	background-color: #ff7700;
	color: white;
	border: 2px solid #00796d;
	transition: 0.1s;
}

.body-btn-create {
	cursor: pointer;
	margin-left: 5px;
	padding: 5px;
}

.body-btn-create:hover {
	border-radius: 2px;
	border: 2px solid #00796d;
	background-color: #ff7700;
	color: white;
	transition: 0.1s;
}

.body-words {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 50%;
	flex-wrap: wrap;
}

.body-word {
	margin: 5px;
	background-color: antiquewhite;
	padding: 5px;
}
