.body-container {
	height: 60vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.body-first-row {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	width: 100%;
}

.body-input {
	padding: 5px;
}
.body-btn {
	cursor: pointer;
	margin-left: 5px;
	padding: 5px;
}

.body-btn-create {
	cursor: pointer;
	margin-left: 5px;
	padding: 5px;
}

.body-words {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 50%;
	flex-wrap: wrap;
}

.body-word {
	margin: 5px;
	background-color: antiquewhite;
	padding: 5px;
}
